{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}

{{!-- <li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li> --}}
<li class="drawer-list-item">
  <a href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
{{#if @blog.facebook}}
  <li class="drawer-list-item">
    <a href="{{facebook_url @blog.facebook}}" target="_blank">
      <i class="fa fa-facebook"></i>Facebook
    </a>
  </li>
{{/if}}
{{#if @blog.twitter}}
  <li class="drawer-list-item">
    <a href="{{twitter_url @blog.twitter}}" target="_blank">
      <i class="fa fa-twitter"></i>Twitter
    </a>
  </li>
{{/if}}
<li class="drawer-list-item">
  <a href="https://github.com/cheironz" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>
