* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font: 400 18px/1.6 $text-font-family;
  line-height: 1.7em;
  text-align: justify;
  text-justify: inter-ideograph;
  text-spacing: ideograph-alpha;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background: $background-color;
  color: $text-color;

  @include breakpoint(small) {
    font-size: 18px;
    line-height: 1.4;
  }
}
